@tailwind base;
@tailwind components;
@tailwind utilities;



.prestyle {
    h1, h2, h3, h4, h5, h6 {
       font-style: revert;
       font-size: revert;
       font-weight: revert;
    }

    ul {
        list-style: revert;
        margin-left: 18px;
    }
}


html {
    scroll-behavior: smooth;
  }