@tailwind base;
@tailwind components;
@tailwind utilities;



.prestyle {
    h1, h2, h3, h4, h5, h6 {
       font-style: revert;
       font-size: revert;
       font-weight: revert;
    }

    ul {
        list-style: revert;
        margin-left: 18px;
    }
}


html {
    scroll-behavior: smooth;
  }


  .spinner {
    width: 15px;
    height: 15px;
    border: 1px solid transparent;
    border-top: 2px solid #d1d1d1; /* Change the color to your preference */
    border-radius: 50%;
    animation: spin 500ms linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }