@tailwind base;
@tailwind components;
@tailwind utilities;




h1, h2, h3, h4, h5, h6 {
  font: revert;
  font-size: revert;
  font-weight: revert;
  font-style: revert;
  

}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit the number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Add the ellipsis (...) */
}


ul {
  list-style: disc;
  list-style-position: inside;

}

ol {
  list-style: decimal;
  list-style-position: outside;
}


blockquote {
  background-color: revert;
  font-family: revert;
}



html {
    scroll-behavior: smooth;
  }


  .spinner {
    width: 15px;
    height: 15px;
    border: 1px solid transparent;
    border-top: 2px solid #d1d1d1; /* Change the color to your preference */
    border-radius: 50%;
    animation: spin 500ms linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }